body {
  font-family: $serenity;
  font-weight: 500;
  font-size: 1.2rem;
}

.btn {
  color: $black;
  font-family: $vaccine;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  & a {
    text-decoration: none;
    color: $black;
  }
}

.navbar {
  margin-top: 2rem;
  &__links {
    font-family: $vaccine;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: end;
    & li {
      & a {
        color: $light-blue;
        text-decoration: none;
      }
    }
  }
}

.mobileNav {
  font-family: $vaccine;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

#darkMode,
#lightMode {
  font-family: $vaccine;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.home {
  &__text {
    color: $white;
    text-align: center;
    h1 {
      font-family: $vaccine;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1.5rem;
    }
    h2 {
      font-family: $vaccine;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.about {
  &__image {
    & a {
      font-family: $vaccine;
      font-weight: 700;
      text-decoration: none;
      font-size: 1.5rem;
      color: $black;
    }
  }
  &__text {
    color: $white;
    font-family: $serenity;
    font-size: 1.8rem;
    font-weight: 500;
    & p {
      text-indent: 2rem;
    }
  }
}

.projects {
  color: $white;
  p {
    font-family: $serenity;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h5 {
    font-family: $serenity;
    font-weight: 700;
    font-size: 1rem;
  }
}

.contact {
  & input,
  & textarea {
    font-family: $serenity;
    font-size: 1.5rem;
  }
}

footer {
  font-family: $serenity;
  font-weight: 500;
  font-size: 1.5rem;
  color: $black;
}

.thanks {
  h1 {
    text-transform: uppercase;
    font-family: $vaccine;
    font-weight: 700;
    font-size: 2rem;
  }
  p {
    font-family: $serenity;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
