.about {
    @include parallax;
    background-image: linear-gradient(rgba($gray, .6), rgba($gray, .6)), url(/assets/bluemtnBG.webp);
    -webkit-background-image: linear-gradient(rgba($gray, .6), rgba($gray, .6)), url(/assets/bluemtnBG.webp);
    -moz-background-image: linear-gradient(rgba($gray, .6), rgba($gray, .6)), url(/assets/bluemtnBG.webp);
    -ms-background-image: linear-gradient(rgba($gray, .6), rgba($gray, .6)), url(/assets/bluemtnBG.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    border-bottom: 2rem solid $blue;
    &__image {
        & img {
            display: block;
            width: 20vw;
            min-width: 15vw;
        }
    }

    &__text {
        & p {
            padding-left: 5rem;
        }
    }
}

@media (max-width: 992px) {
    .about {
        margin: auto;
        padding-top: 5rem;
        &__image {
            & img {
                margin-top: 2rem;
                width: 15rem;
            }
        }
        &__text {
            margin: auto;
            & p {
            padding-left: 0;
            font-size: 3vw;
            }
        }
    }
}

@media (max-width: 992px) and (orientation: landscape) { 
    .about {
        height: 100%;
    }
}